@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #212121;
    /* #000000 */
    --color-secundario: #FBF5E5;
    /*#F6F6F6*/
    --color-terciario: #A35C7A;
    /*#22D4FD*/
    --fuente-montserrat: 'Montserrat', serif;
    --fuente-krona: "Krona One", serif;
    --font-weight-semi-bold: 600;
    --font-weight-regular: 400;
    --font-size-medium: 1.5rem;
    --font-size-large: 2.25rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    color: var(--color-secundario);
    background-color: var(--color-primario);
}

.header {
    min-height: 10vh;
    padding: 2% 0% 0% 15%;
}

.header__nav {
    display: flex;
    gap: 80px;
}

.header__nav__link {
    font-family: var(--fuente-montserrat);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-semi-bold);
    color: var(--color-terciario);
    text-decoration: none;

}

.main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 80px;
}

.main__contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main__contenido__titulo {
    font-size: var(--font-size-large);
    font-family: var(--fuente-krona);
}

.titulo-resaltado {
    color: var(--color-terciario);
}

.main__contenido__texto {
    font-size: var(--font-size-medium);
    font-family: var(--fuente-montserrat);
}

.main__contenido__texto-nombre:hover {
    font-size: 1.75rem;
    font-weight: var(--font-weight-semi-bold);
    cursor: context-menu;
}

.main__enlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.main__enlaces__subtitulo {
    font-family: var(--fuente-krona);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
}

.main__enlaces__link {
    width: 50%;
    text-align: center;
    padding: 16px 0px;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-medium);
    font-family: var(--fuente-montserrat);
    border-radius: 8px;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 16px;
    /*Ampliando el archivo figma se puede ver bien que la separación es de 16px y no de 10px como indica la profesora en el video*/
}



.main__enlaces__link:hover,
.main__enlaces__link:hover img {
    background-color: #C890A7;
    /* #272727;*/
    border-color: #A35C7A
        /* #0000FF; */
}

.main__img {
    width: 50%;
    align-self: flex-start;
}

.footer {
    min-height: 10vh;
    background-color: var(--color-terciario);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primario);
    font-family: var(--fuente-montserrat);
    font-family: monospace;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    text-align: center;
}

/* -----------  RESPONSIVE ------------------ */

@media (width <= 1200px){
    .header{
        padding: 6%;
    }
    .header__nav{
        justify-content: center;
    }
    .main{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .main__contenido{
        width: auto;
    }
    .main__img{
        align-self: center;
    }
}
